body {
  font-size: 1.4rem;
}

.all-tabs {
  text-align: left;

}

.buttons {
  text-align: center;
}

.rc-slider {
  margin-bottom: 20px;
}

#map-container .graph-title, #ecdf-container .graph-title, #header-container .graph-title {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    color: white;
}

#ecdf, #recovery, #food_ecdf, #food_ranking {
  width: 100%;
  height: 30vh;
}

#ecdf *, #recovery *, #food_ecdf *, #food_ranking *, #recovery-md *  {
  font-size: 1rem;
}

.my_list li {
  list-style:inside;
  color:black;
}

#learn-more-button {
  margin: 15px 15px;
}

.current-button {
  background-color: rgba(115, 115, 169, 0.5);
}
